<!DOCTYPE html>
<html class="g-html-fit g-border-color-black">
	<head>
		
		<!-- Title of the page if it is provided -->
		
		<title>
			<% if (locals.title) { %>
				<%= title %>
			<% } %>
		</title>
	
		<!-- Add css object here -->
		
		<style>
			<% if (locals.css) { %>
				<%= css %>
			<% } %>
		</style>

	</head>

		

	<body class="g-height100 g-width100 g-fblight g-consalas">
		
		<!--  --> 
		
		<div class="g-height3 g-width100">
			
		</div>

		<div class="g-height94 g-width100">

		<div class="g-height10 g-width100 g-fb g-centered-text g-text-white g-responsive-text-5 g-FL g-border-color-black">	
			FaceBook Tool: <% if (locals.title) { %> <%= title %> <% } %>
		</div>

		<div class="g-height90 g-width100 g-lightgray">
		
			<!-- Input a keyword | Left Half of page -->
						
			<div class="g-height100 g-width50 g-gray g-FL g-border-color-black">


				<form class="g-height100 g-width100" action="results" method="get">
					<div class="g-height20 g-width100">
					<% if (locals.Files_Exist) { %>

						<!-- 10% -->
						<input class="g-height50 g-width70" type="text" name="keyword" placeholder="keyword" required/>
						<!-- 10% -->
						<div class="g-height100 g-width30 g-FR">
							<div class="g-height100 g-width100 g-border-color-orange g-lightorange g-FR">
								Open Browser toggle: <input  type="checkbox" name="browser_toggle" checked/></br>
								Min: <input class="g-width50" type="number" name="Add_Min_Bool"/></br>
								Max: <input class="g-width50" type="number" name="Add_Max_Bool"/>
							</div>
						</div>
						<input class="g-height50 g-width70" type="submit" value="Submit Search"/>

					<% } else{ %> 
						<div class="g-height10 g-width100">
							You'll need to upload a	file full of valid locations
						</div>
					<% } %>

					</div>
					<!-- 80% -->
					<!-- Add results section here -->
					<% if (locals.Base_URL_List) { %>
						<div class="g-height80 g-width100 g-lightgreen g-border-color-green">
							<div class="g-height15 g-width100 g-centered-text g-responsive-text-3 g-green">
								<% if (locals.keyword) { %>
									Search results for "<%= keyword %>":
								<% } %>
							</div>
					<% } else { %>
						<div class="g-height80 g-width100 g-lightyellow g-border-color-yellow">
							<div class="g-height15 g-width100 g-centered-text g-responsive-text-3 g-yellow">
								Submit a search to get results here
							</div>
					<% } %>
					

						<div class="g-height85 g-width100 g-scroll-a">
							<% if (locals.results) { %>
								
								<% var count = 0; %>
								<% results[0].forEach(function(URL){ %>
									
									<a class="g-height33- g-width33- g-centered-text g-FL g-no-dec g-border-color-green" href="<%= URL %>" target="_blank">
										Click to open result for: <br><%= results[1][count] %>
									</a>
								
									<% count = count + 1; %>
								
								<% }) %>
							<% } %>
						</div>

					</div>

				</form> 
			</div>


			<!-- Upload a new file | Right Half of page -->
			<div class="g-height100 g-width50 g-darkgray g-FL g-border-color-black">

				<!-- 10% -->
				<form class="g-height10 g-width100" action='/upload_files' method='get'>
					<input class="g-height100 g-width100" type='submit' value='Upload New File' />
				</form>

				<!-- 80% -->
				<% if (locals.List_Of_Zips) { %>
				
					<!-- 10% -->
					<div class="g-height10 g-width100 g-green g-centered-text g-responsive-text-3 ">
						<!-- Check to see if the files exist -->	
							Current Locations that will be searched: <%= List_Of_Zips.length %> Total
					</div>
					<div class="g-height70 g-width100 g-lightgreen g-border-color-green g-scroll-a">
						<% List_Of_Zips.forEach(function(Location){ %>
							<%= Location %>
							</br>
						<% }) %>

					</div>
				<% } else { %>
				
					<!-- 10% -->
					<div class="g-height10 g-width100 g-red g-centered-text g-responsive-text-3 ">
						<!-- Check to see if the files exist -->	
							Press button above to upload a file
					</div>
					<div class="g-height70 g-width100 g-lightred g-border-color-red g-scroll-a">
						
					</div>
				<% } %>
				<div class="g-height10 g-width100">

					<form
						action='/old_searches' 
						method='get' class="g-height100 g-width100">
						<input type='submit' value='Old Searches' class="g-height100 g-width100"/>
					</form> 
				</div>

			</div>

		</div>
		
		</div>
		<div class="g-height3 g-red g-FR g-centered-text g-text-white">
			<form      
				action='/help' 
				method='get' class="g-height100 g-width100">
				<input type='submit' value='Help' class="g-height100 g-width100 g-text-white g-red"/>
			</form>  
		</div>

	</body>
</html>