<!DOCTYPE html>
<html class="g-html-fit g-border-color-black">
	<head>
		
		<!-- Title of the page if it is provided -->
		
		<title>
			<% if (locals.title) { %>
				<%= title %>
			<% } %>
		</title>
	
		<!-- Add css object here -->
		
		<style>
			<% if (locals.css) { %>
				<%= css %>
			<% } %>
		</style>

	</head>

		

	<body class="g-height100 g-width100 g-fblight g-consalas">
		
		<!--  --> 

		<div class="g-height3 g-width100">
			
		</div>

		<div class="g-height94 g-width100">

		<div class="g-height10 g-width100 g-fb g-centered-text g-text-white g-responsive-text-5 g-FL g-border-color-black">	
			FaceBook Tool: <% if (locals.title) { %> <%= title %> <% } %>
		</div>

		<div class="g-height90 g-width100 g-fblight">
		
			<!-- Input a keyword | Left Half of page -->
						
			<div class="g-height100 g-width15 g-FL"></div>


			<!-- Upload a new file | Right Half of page -->
			<div class="g-height100 g-width70 g-FL g-border-color-green g-lightgreen">
				<div class="g-height10 g-width100 g-centered-text g-responsive-text-3">
					Saved Searches
				</div>
				<div class="g-height80 g-width100 g-scroll-a">
					<% if (locals.List_Of_Searches) { %>
						<% List_Of_Searches.forEach(function(Search){ %>
							<div class="g-height10 g-width90 g-FL">
								<form
									action='/old_searches/<%= Search[1] %>' 
									method='get' class="g-height100 g-width100">
									<input type='submit' value='<%= Search[0] %>' class="g-height100 g-width100"/>
								</form> 
							</div>
							<div class="g-height10 g-width10 g-FR">
								<form
									action='/delete_old_search/<%= Search[1] %>' 
									method='get' class="g-height100 g-width100">
									<input type='submit' value='X' class="g-height100 g-width100 g-red"/>
								</form> 
							</div>
						<% }) %>
					<% } %>
				</div>
				<div class="g-height10 g-width100">
					<form
						action='/homepage' 
						method='get' class="g-height100 g-width100">
						<input type='submit' value='Back To homepage' class="g-height100 g-width100"/>
					</form>
				</div>
			</div>
			
			<!-- Upload a new file | Right Half of page -->
			<div class="g-height100 g-width15 g-FL">

				

			</div>

		</div>
		
		</div>

	</body>
</html>