<!DOCTYPE html>
<html class="g-html-fit g-border-color-black">
	<head>
		
		<!-- Title of the page if it is provided -->
		
		<title>
			<% if (locals.title) { %>
				<%= title %>
			<% } %>
		</title>
	
		<!-- Add css object here -->
		
		<style>
			<% if (locals.css) { %>
				<%= css %>
			<% } %>
		</style>

	</head>

		

	<body class="g-height100 g-width100 g-fblight g-consalas">
		
		<!--  --> 

		<div class="g-height3 g-width100">
			
		</div>

		<div class="g-height94 g-width100">

		<div class="g-height10 g-width100 g-fb g-centered-text g-text-white g-responsive-text-5 g-FL g-border-color-black">	
			FaceBook Tool: <% if (locals.title) { %> <%= title %> <% } %>
		</div>

		<div class="g-height90 g-width100 g-fblight">
		
			<!-- Input a keyword | Left Half of page -->
						
			<div class="g-height100 g-width15 g-FL">


				

			</div>


			<!-- Upload a new file | Right Half of page -->
			<div class="g-height100 g-width70 g-FL g-border-color-green g-lightgreen">
				<div class="g-height15 g-width70 g-centered-text g-responsive-text-3 g-FL">
					<% if (locals.Search_File_Contents.Search) { %>
						<%= Search_File_Contents.Search %>
					<% } else { %>
						No File Found
					<% } %>
					<% if (locals.Search_File_Contents.Date) { %>
						<%= Search_File_Contents.Date %>
					<% } %>
				</div>
				<div class="g-height15 g-width30 g-centered-text g-responsive-text-3 g-FR">
					<% if (locals.Search_File_Contents.min) { %>
						Min: <%= Search_File_Contents.min %></br>
					<% } else { %>
						Min: None
					<% } %>
					<% if (locals.Search_File_Contents.max) { %>
						Max: <%= Search_File_Contents.max %></br>
					<% } else { %>
						Max: None
					<% } %>
				</div>
				<div class="g-height75 g-width100 g-scroll-a">
					<div class="g-height100 g-width100"> 
					<% if (locals.Search_File_Contents.Results[0]) { %>
						<% var count = 0; %>
						<% Search_File_Contents.Results[0].forEach(function(URL){ %>
							<a class="g-height33- g-width33- g-centered-text g-FL g-no-dec g-border-color-green" href="<%= URL %>" target="_blank">
									Click to open URL for: <%= Search_File_Contents.Results[1][count] %>
							</a>
							<% count = count + 1; %>
						<% }) %>
					<% } %>
					</div>
				</div>
				<div class="g-height10 g-width100">
					<form
						action='/homepage' 
						method='get' class="g-height100 g-width50 g-FL">
						<input type='submit' value='Back To homepage' class="g-height100 g-width100"/>
					</form> 
					<form
						action='/old_searches' 
						method='get' class="g-height100 g-width50 g-FR">
						<input type='submit' value='Back To Old Searches' class="g-height100 g-width100"/>
					</form>
				</div>
			</div>
			
			<!-- Upload a new file | Right Half of page -->
			<div class="g-height100 g-width15 g-FL">

				

			</div>

		</div>
		
		</div>

	</body>
</html>